<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Converter</title>
  <style>
    body {
    font-family: 'Segoe UI', 'Tahoma', 'Geneva', 'Verdana', 'sans-serif';
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url("{{ url_for('static', filename='pic.jpg') }}");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .container {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    position: relative;
  }
    h1 {
      margin-bottom: 25px;
      font-size: 2em;
      color: #333;
    }

    .input-group {
      margin-bottom: 20px;
      text-align: left;
    }

    .input-group label {
      display: block;
      margin-bottom: 8px;
      font-weight: bold;
      color: #555;
    }

    .input-group input,
    .input-group select {
      width: calc(100% - 16px);
      padding: 10px;
      border-radius: 5px;
      border: 1px solid #ddd;
      box-sizing: border-box;
      margin-left: 8px;
      margin-right: 8px;
      font-size: 1em;
    }

    button {
      width: calc(100% - 16px);
      padding: 12px;
      background-color: #28a745;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1em;
      margin-left: 8px;
      margin-right: 8px;
    }

    button:hover {
      background-color: #218838;
    }

    #result {
      margin-top: 20px;
      font-size: 1.2em;
      color: #333;
    }

    #error {
      margin-top: 20px;
      font-size: 1.2em;
      color: red;
    }
    img{
      width: 100%;
      height: auto;
      border-radius: 10px;
      margin-bottom: 20px;  
      z-index: -1;
      display: block;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Universal Currency Converter</h1>
    <form action="/" method="post">
      <div class="input-group">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
      </div>
      <div class="input-group">
        <label for="from_currency">From:</label>
        <select id="from_currency" name="from_currency" required>
          <option value="USD">United States (USD)</option>
            <option value="EUR">Europe (EUR)</option>
            <option value="GBP">United Kingdom (GBP)</option>
            <option value="INR">India (INR)</option>
            <option value="AUD">Australia (AUD)</option>
            <option value="CAD">Canada (CAD)</option>
            <option value="SGD">Singapore (SGD)</option>
            <option value="CHF">Switzerland (CHF)</option>
            <option value="MYR">Malaysia (MYR)</option>
            <option value="JPY">Japan (JPY)</option>
            <option value="CNY">China (CNY)</option>
            <option value="EUR">Belgium (EUR)</option>
            <option value="BDT">Bangladesh (BDT)</option>
            <option value="BBD">Barbados (BBD)</option>
            <option value="IRR">Iran (IRR)</option>
            <option value="KRW">South Korea (KRW)</option>
            <option value="MXN">Mexico (MXN)</option>
            <option value="PKR">Pakisthan (PKR)</option>
            <option value="RUB">Russia (RUB)</option>
            <option value="SEK">Sweden (SEK)</option>
            <option value="TRY">Turkey (TRY)</option>
            <option value="VND">Vietnam (VND)</option>
            <option value="KPW">North Korea (KPW)</option>
            <option value="ZWL">Zimbabwe (ZWL)</option>
            <option value="ZAR">South Africa (ZAR)</option>
            <option value="JMD">Jamica (JMD)</option>
            <option value="LKR">Sri Lanka (LKR)</option>
            <option value="NZD">New Zealand (NZD)</option>
            <option value="NPR">Nepal (NPR)</option>
            <option value="NOK">Norway (NOK)</option>
            <option value="NGN">Nigeria (NGN)</option>
            <option value="AFN">Afganisthan (AFN)</option>
            <option value="ANG">Netherlands (ANG)</option>
            <option value="BRL">Brazil (BRL)</option>
            <option value="BTN">Bhutan (BTN)</option>
            <option value="COP">Colombia (COP)</option>
            <option value="HKD">Hong Kong (HKD)</option>
            <option value="IDR">Indonesia (IDR)</option>
            <option value="ILS">Israel (ILS)</option>
            <option value="IQD">Iraq (IQD)</option>
            <option value="BMD">Bermuda (BMD)</option>
            <option value="DKK">Denmark (DKK)</option>
            <option value="EGP">Egypt (EGP)</option>
            <option value="EUR">France (EUR)</option>
            <option value="DKK">Greenland (DKK)</option>
            <option value="FJD">Fiji (FJD)</option>
            <option value="EUR">Finland (EUR)</option>
            <option value="GHS">Ghana (GHS)</option>
            <option value="EUR">Germany (EUR)</option>
            <option value="HGF">Hungary (HGF)</option>
            <option value="JOD">Jordan (JOD)</option>
            <option value="EUR">Ireland (EUR)</option>
            <option value="KZT">Kazakhstan (KZT)</option>
            <option value="KES">Kenya (KES)</option>
            <option value="PEN">Peru (PEN)</option>
            <option value="PHP">Philippines (PHP)</option>
            <option value="PLN">Poland (PLN)</option>
            <option value="EUR">Portugal (EUR)</option>
            <option value="QAR">Qatar (QAR)</option>
            <option value="RON">Romania (RON)</option>
            <option value="RWF">Rwanda (RWF)</option>
            <option value="XOF">Senegal (XOF)</option>
            <option value="RSD">Serbia (RSD)</option>
            <option value="EUR">Spain (EUR)</option>
            <option value="SZL">Swaziland (SZL)</option>
            <option value="TWD">Taiwan (TWD)</option>
            <option value="THB">Thailand (THB)</option>
            <option value="UGX">Uganda (UGX)</option>
            <option value="UAH">Ukraine (UAH)</option>
            <option value="UZS">Uzbekistan (UZS)</option>
            <option value="ZMW">Zambia (ZMW)</option>
            <option value="VEF">Venezuela (VEF)</option>
            <option value="TMT">Turkmenistan (TMT)</option>
            <option value="AOA">Angola (AOA)</option>
            <option value="AMD">Armenia (AMD)</option>
            <option value="EUR">Austria (EUR)</option>
            <option value="AZN">Azerbaijan AZN()</option>
            <option value="BHD">Bahrain (BHD)</option>
            <option value="BYN">Belarus (BYN)</option>
            <option value="BOB">Bolivia (BOB)</option>
            <option value="BAM">Bosnia and Herzegovina (BAM)</option>
            <option value="BWP">Botswana (BWP)</option>
            <option value="BRL">Brazil (BRL)</option>
            <option value="BGN">Bulgaria (BGN)</option>
            <option value="CVE">Cabo Verde (CVE)</option>
            <option value="KHR">Cambodia (KHR)</option>
            <option value="XAF">Cameroon (XAF)</option>
            <option value="XAF">Chad (XAF)</option>
            <option value="KYD">Cayman Islands (KYD)</option>
            <option value="CLP">Chile (CLP)</option>
            <option value="CDF">Congo (CDF)</option>
            <option value="CRC">Costa Rica (CRC)</option>
            <option value="HRK">Croatia (HRK)</option>
            <option value="EUR">Cyprus (EUR)</option>
            <option value="CZK">Czech Republic (CZK)</option>
            <option value="DOP">Dominican Republic (DOP)</option>
            <option value="USD">Ecuador (USD)</option>
            <option value="XAF">Equatorial Guinea (XAF)</option>
            
            
          
            
            
            
            

            
            
        </select>
      </div>
      <div class="input-group">
        <label for="to_currency">To:</label>
        <select id="to_currency" name="to_currency" required>
          
            <option value="USD">United States (USD)</option>
            <option value="EUR">Europe (EUR)</option>
            <option value="GBP">United Kingdom (GBP)</option>
            <option value="INR">India (INR)</option>
            <option value="AUD">Australia (AUD)</option>
            <option value="CAD">Canada (CAD)</option>
            <option value="SGD">Singapore (SGD)</option>
            <option value="CHF">Switzerland (CHF)</option>
            <option value="MYR">Malaysia (MYR)</option>
            <option value="JPY">Japan (JPY)</option>
            <option value="CNY">China (CNY)</option>
            <option value="EUR">Belgium (EUR)</option>
            <option value="BDT">Bangladesh (BDT)</option>
            <option value="BBD">Barbados (BBD)</option>
            <option value="IRR">Iran (IRR)</option>
            <option value="KRW">South Korea (KRW)</option>
            <option value="MXN">Mexico (MXN)</option>
            <option value="PKR">Pakisthan (PKR)</option>
            <option value="RUB">Russia (RUB)</option>
            <option value="SEK">Sweden (SEK)</option>
            <option value="TRY">Turkey (TRY)</option>
            <option value="VND">Vietnam (VND)</option>
            <option value="KPW">North Korea (KPW)</option>
            <option value="ZWL">Zimbabwe (ZWL)</option>
            <option value="ZAR">South Africa (ZAR)</option>
            <option value="JMD">Jamica (JMD)</option>
            <option value="LKR">Sri Lanka (LKR)</option>
            <option value="NZD">New Zealand (NZD)</option>
            <option value="NPR">Nepal (NPR)</option>
            <option value="NOK">Norway (NOK)</option>
            <option value="NGN">Nigeria (NGN)</option>
            <option value="AFN">Afganisthan (AFN)</option>
            <option value="ANG">Netherlands (ANG)</option>
            <option value="BRL">Brazil (BRL)</option>
            <option value="BTN">Bhutan (BTN)</option>
            <option value="COP">Colombia (COP)</option>
            <option value="HKD">Hong Kong (HKD)</option>
            <option value="IDR">Indonesia (IDR)</option>
            <option value="ILS">Israel (ILS)</option>
            <option value="IQD">Iraq (IQD)</option>
            <option value="BMD">Bermuda (BMD)</option>
            <option value="DKK">Denmark (DKK)</option>
            <option value="EGP">Egypt (EGP)</option>
            <option value="EUR">France (EUR)</option>
            <option value="DKK">Greenland (DKK)</option>
            <option value="FJD">Fiji (FJD)</option>
            <option value="EUR">Finland (EUR)</option>
            <option value="GHS">Ghana (GHS)</option>
            <option value="EUR">Germany (EUR)</option>
            <option value="HGF">Hungary (HGF)</option>
            <option value="JOD">Jordan (JOD)</option>
            <option value="EUR">Ireland (EUR)</option>
            <option value="KZT">Kazakhstan (KZT)</option>
            <option value="KES">Kenya (KES)</option>
            <option value="PEN">Peru (PEN)</option>
            <option value="PHP">Philippines (PHP)</option>
            <option value="PLN">Poland (PLN)</option>
            <option value="EUR">Portugal (EUR)</option>
            <option value="QAR">Qatar (QAR)</option>
            <option value="RON">Romania (RON)</option>
            <option value="RWF">Rwanda (RWF)</option>
            <option value="XOF">Senegal (XOF)</option>
            <option value="RSD">Serbia (RSD)</option>
            <option value="EUR">Spain (EUR)</option>
            <option value="SZL">Swaziland (SZL)</option>
            <option value="TWD">Taiwan (TWD)</option>
            <option value="THB">Thailand (THB)</option>
            <option value="UGX">Uganda (UGX)</option>
            <option value="UAH">Ukraine (UAH)</option>
            <option value="UZS">Uzbekistan (UZS)</option>
            <option value="ZMW">Zambia (ZMW)</option>
            <option value="VEF">Venezuela (VEF)</option>
            <option value="TMT">Turkmenistan (TMT)</option>
            <option value="AOA">Angola (AOA)</option>
            <option value="AMD">Armenia (AMD)</option>
            <option value="EUR">Austria (EUR)</option>
            <option value="AZN">Azerbaijan AZN()</option>
            <option value="BHD">Bahrain (BHD)</option>
            <option value="BYN">Belarus (BYN)</option>
            <option value="BOB">Bolivia (BOB)</option>
            <option value="BAM">Bosnia and Herzegovina (BAM)</option>
            <option value="BWP">Botswana (BWP)</option>
            <option value="BRL">Brazil (BRL)</option>
            <option value="BGN">Bulgaria (BGN)</option>
            <option value="CVE">Cabo Verde (CVE)</option>
            <option value="KHR">Cambodia (KHR)</option>
            <option value="XAF">Cameroon (XAF)</option>
            <option value="XAF">Chad (XAF)</option>
            <option value="KYD">Cayman Islands (KYD)</option>
            <option value="CLP">Chile (CLP)</option>
            <option value="CDF">Congo (CDF)</option>
            <option value="CRC">Costa Rica (CRC)</option>
            <option value="HRK">Croatia (HRK)</option>
            <option value="EUR">Cyprus (EUR)</option>
            <option value="CZK">Czech Republic (CZK)</option>
            <option value="DOP">Dominican Republic (DOP)</option>
            <option value="USD">Ecuador (USD)</option>
            <option value="XAF">Equatorial Guinea (XAF)</option>
            
        </select>
      </div>
      <button type="submit">Convert</button>
    </form>
    {% if result %}
      <p id="result">{{ result }}</p>
      <p id="result">{{ k }}</p>
    {% endif %}
    {% if error %}
      <p id="error">{{ error }}</p>
    {% endif %}
  </div>
</body>
</html>
